<button class="bg-blue-500 text-white p-2 my-1" type="button">
  <%= link_to 'New Recipe', new_recipe_path %>
<button>
<ul class="w-full flex flex-col gap-2 p-4 items-center">
  <% @recipes.each do |recipe| %>
    <li>
      <a class="border-2 p-2" href="#">
        <div>
          <h3><%= recipe.name %></h3>
        </div>
        <p><%= recipe.description %></p>
      </a>
    </li>
  <% end %>
</ul>
